{% extends 'RegistroAcademicoBundle::base.html.twig' %}

{% set title = 'Un error: '~status_text~' a ocurrido' %}

{% block body %}
<div class="container" style="background: white">
    <header>
        <hgroup>
            <h1>¡Lo siento! Ocurrió un error fatal</h1>
            <h2>El servidor retorno un "{{ status_code }} {{ status_text }}".</h2>
        </hgroup>
    </header>
    <p>Si el problema persiste por favor contacta al encargado del sistema y
    cuéntale que es lo que ocurrió y que estabas haciendo cuando sucedió
    el error. Para poder arreglarlo lo mas pronto posible. Disculpa por el
    inconveniente causado :(.</p>
</div>
{% endblock %}
