<div class="accordion" id="accordion-619107" style="float: center;">
	<div class="accordion-group">
		<div class="accordion-heading">
			<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-619107" href="#accordion-element-526096">Administración de usuarios</a>
		</div>
		<ul id="accordion-element-526096" class="accordion-body collapse">
			<li class="accordion-inner">
				<a href="{{ path('new_user') }}" class="accordion-inner">Crear usuario</a>
			</li>
		</ul>
	</div>
</div>