<div class="span4">
	<strong>Instituto Nacional Técnico Industrial</strong><br />
	Colonia Roma, Boulevard Arturo Castellanos, San Salvador, El Salvador, C. A.<br />
	<abbr title="Telefono">Tel:</abbr> <a href="tel:503-2224-6946">(503) 2224-6946</a>, <a href="tel:503-2223-3156">(503) 2223-3156</a><br />
	<abbr title="Correo electronico">email:</abbr><a href="mailto:intidirec@gmail.com">intidirec@gmail.com</a>
</div>