{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block breadcrumb %}
<li class="active"><span class="divider">&gt;</span> Inicio</li>
{% endblock %}

{% block content %}
<div class="hero-unit">
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum officiis dicta delectus veritatis dolores asperiores deserunt vitae natus! Voluptas, temporibus consequuntur odit cumque ex illo earum doloribus ea quis ut.</p>
<table class="table table-bordered table-hover">
	<caption>table title and/or explanatory text</caption>
	<thead>
		<tr>
			<th>nombre</th>
			<th>valor</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>a</td>
			<td>1</td>
		</tr>
		<tr>
			<td>b</td>
			<td>2</td>
		</tr>
	</tbody>
</table>
</div>
{% endblock %}
