{% extends 'RegistroAcademicoBundle::base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div class="row-fluid">
		<div class="span12">
			<nav class="row pull-right">
				{% block nav %}
				{% if app.user.username is defined %}
				<div class="row btn-group">
					<a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> {{ app.user.username }}</a>
					<a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="{{ path('index') }}"><i class="icon-home"></i> Inicio</a></li>
						<li><a href="#"><i class="icon-pencil"></i> Información</a></li>
						<li><a href="{{ path('update_password', {'username' : app.user.username }) }}"><i class="icon-wrench"></i> Cambiar contraseña</a></li>
						<li class="divider"></li>
						<li><a href="{{ path('logout') }}"><i class="icon-off"></i> Salir</a></li>
					</ul>
				</div>
				{% endif %}
				{% endblock %}
			</nav>
			<div class="row-fluid">
				<aside class="span4">
					{% block aside %}
					<ul class="nav nav-list">
    					<li class="first nav-header"></li>
    					<li class="first"></li>
    					<li></li>
    					<li class="last"></li>
    					<li class="nav-header"></li>
    					<li class="first"></li>
    					<li class="last"></li>
    					<li class="divider" divider="divider"></li>
    					<li class="last"></li>
					</ul>
					{% endblock %}
				</aside>
				<div class="span8">
					{% block content %}
					<header class="page-header">
						<h1>
						Instituto Nacional Técnico Industrial<br /><small>Sistema de registro acádemico</small>
						</h1>
					</header>
					{% endblock %}
				</div>
			</div>
			<footer class="row-fluid">
				{% block footer %}
				{% include 'RegistroAcademicoBundle:Default:footer.html.twig' %}
				{% endblock %}
			</footer>
		</div>
	</div>
</div>
{% endblock %}