/web/bundles/
/web/assets/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar
/composer.lock
/.travis.yml
*.back
*~
*.tmp
/.project
/nbproject/
*.sublime-project
*.sublime-workspace
