@import url(http://fonts.googleapis.com/css?family=Trykker);

html, body {
  background: rgb(63,76,107); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(63,76,107,1) 0%, rgba(63,76,107,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,76,107,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(63,76,107,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */
}

#materiatype_submit{
	visibility: hidden;
}

#header-bar {
  padding: 5px;
  background: #FFFFFF;
}

#main {
  padding: 5px;
  background: rgb(255,255,255); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.breadcrumb {
	background: rgb(238, 238, 238);
}

@media screen and (min-height: 768px) {
    .nav-list {
        position: fixed;
    }
}

.nav-list {
    border: 2px none #000000;
    border-radius: 10px;
    background: rgb(238, 238, 238);
}

footer address {
  background: #31353a;
  color: #ccc;
  padding: 20px;
  text-align: center;
}

#logo {
  width: 96px;
  height: 96px;
  float: right;
  position: relative;
  padding-right: 30px;
}

.profile_id {
  max-width: 200px;
  max-height: 200px;
}

#index-title {
  text-align: center;
}

.barrel-roll {
  position: fixed;
  float: none;
  -webkit-animation: do-a-barrel-roll 7s infinite alternate;
     -moz-animation: do-a-barrel-roll 7s infinite alternate;
      -ms-animation: do-a-barrel-roll 7s infinite alternate;
       -o-animation: do-a-barrel-roll 7s infinite alternate;
          animation: do-a-barrel-roll 7s infinite alternate;
}

@-webkit-keyframes do-a-barrel-roll {
  0% {
    right: 100%;
    -webkit-transform: rotate(0deg);
  }
  100% {
    right: 0%;
    -webkit-transform: rotate(720deg);
  }
}

@-moz-keyframes do-a-barrel-roll {
  0% {
    right: 100%;
    -moz-transform: rotate(0deg);
  }
  100% {
    right: 0%;
    -moz-transform: rotate(720deg);
  }
}

@-ms-keyframes do-a-barrel-roll {
  0% {
    right: 100%;
    -ms-transform: rotate(0deg);
  }
  100% {
    right: 0%;
    -ms-transform: rotate(720deg);
  }
}

@-o-keyframes do-a-barrel-roll {
  0% {
    right: 100%;
    -o-transform: rotate(0deg);
  }
  100% {
    right: 0%;
    -o-transform: rotate(720deg);
  }
}

@keyframes do-a-barrel-roll {
  0% {
    right: 100%;
    transform: rotate(0deg);
  }
  100% {
    right: 0%;
    transform: rotate(720deg);
  }
}

.ig-grid {
  padding: 10px;
  /*margin-top: 10px;*/
  display: block;
  min-width: 220px;
  min-height: 200px;
  border: 5px none #000000;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition: background 0.2s;
     -moz-transition: background 0.2s;
          transition: background 0.2s;
}

.ig-grid:hover {
  background: -moz-linear-gradient(top, rgba(30,87,153,1) 0%, rgba(83,142,197,1) 56%, rgba(104,164,215,0.7) 78%, rgba(125,185,232,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(56%,rgba(83,142,197,1)), color-stop(78%,rgba(104,164,215,0.7)), color-stop(100%,rgba(125,185,232,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(83,142,197,1) 56%,rgba(104,164,215,0.7) 78%,rgba(125,185,232,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(83,142,197,1) 56%,rgba(104,164,215,0.7) 78%,rgba(125,185,232,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(30,87,153,1) 0%,rgba(83,142,197,1) 56%,rgba(104,164,215,0.7) 78%,rgba(125,185,232,0) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(30,87,153,1) 0%,rgba(83,142,197,1) 56%,rgba(104,164,215,0.7) 78%,rgba(125,185,232,0) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#007db9e8',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0px 0px 10px #333333;
     -moz-box-shadow: 0px 0px 10px #333333;
          -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color=#333333)";
          box-shadow: 0px 0px 10px #333333;
              filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color=#333333);
  color: #FFFFFF;
}

.ig-img {
  position: relative;
  float: left;
  z-index: 0;
}

.ig-title, .ig-category {
  text-align: right
}

.ig-title, .ig-category, #index-title {
  font-family: 'Trykker', serif;
}

.ig-category {
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
     -moz-transition: -moz-transform 0.3s, opacity 0.2s;
          transition: transform 0.3s, opacity 0.2s;
}

.ig-title {
  -webkit-transition: -webkit-transform 0.2s;
     -moz-transition: -moz-transform 0.2s;
          transition: transform 0.2s;
}

.ig-options {
  opacity: 0;
  -webkit-transform: translateY(40px);
     -moz-transform: translateY(40px);
      -ms-transform: translateY(40px);
       -o-transform: translateY(40px);
          transform: translateY(40px);
  -webkit-transition: -webkit-transform 0.2s, opacity 0.1s;
     -moz-transition: -moz-transform 0.2s, opacity 0.1s;
          transition: transform 0.2s, opacity 0.1s;
}

.ig-grid:hover .ig-title {
  padding-right: 5px;
}

.ig-grid:hover .ig-category {
  opacity: 1;
  -webkit-transform: scale(1, 1.2);
     -moz-transform: scale(1, 1.2);
      -ms-transform: scale(1, 1.2);
       -o-transform: scale(1, 1.2);
          transform: scale(1, 1.2);
}

.ig-grid:hover .ig-options {
  opacity: 1;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

.ig-grid:hover .ig-img {
  -webkit-transform: translateY(10px);
     -moz-transform: translateY(10px);
      -ms-transform: translateY(10px);
       -o-transform: translateY(10px);
          transform: translateY(10px);
}

.slideThree {
  width: 115px;
  height: 26px;
  background: #333;
  display: inline-block;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  position: relative;

  -webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}

.slideThree:after {
  content: 'Cerrado';
  font: 12px/26px Arial, sans-serif;
  color: red;
  position: absolute;
  right: 10px;
  z-index: 0;
  font-weight: bold;
  text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}

.slideThree:before {
  content: 'Abierto';
  font: 12px/26px Arial, sans-serif;
  color: #00bf00;
  position: absolute;
  left: 10px;
  z-index: 0;
  font-weight: bold;
}

.slideThree label {
  display: block;
  width: 55px;
  height: 20px;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;

  -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
  background: #fcfff4;

  background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}

.slideThree input[type=checkbox]:checked + label {
  left: 57px;
}

.slideThree input[type=checkbox] {
  visibility: hidden;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  background: rgb(238, 238, 238);
  border-radius: 5px;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin-heading {
  max-width: 100%;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  width: 100%;
}

#serviciosocialtype_submit {
  visibility: hidden;
}