body {
  position: relative;
  z-index: 0;
}

#main {
  position: relative;
  z-index: 1;
}

.breadcrumb {
	background: rgb(238, 238, 238);
}

@media screen and (min-height: 768px) {
    .nav-list {
        position: fixed;
    }
}

.nav-list {
    border: 2px none #000000;
    border-radius: 10px;
    background: rgb(238, 238, 238);
}

footer {
  background: #31353a;
  position: relative;
  z-index: -2;
  color: #ccc;
  padding-top: 20px;
  text-align: center;
}

.profile_id {
  max-width: 200px;
  max-height: 200px;
}