{% extends 'RegistroAcademicoBundle:Default:layout.html.twig' %}

{% block content %}
{{ form(form) }}
<a class="btn btn-info" href="{{ path('empresa_index') }}">Regresar a la lista</a>
{% endblock %}
